
* {
	box-sizing : border-box;
	outline: none;
}

.block,
.menuButtons,
.task,
.description,
.buttonsLeft,
.buttonsRight,
.footer,
.userRight{
	display : flex;
}

.block{
	flex-direction : column;
}

.task{
	flex-direction : column;
}

.description{
	flex-direction : row;
}
.buttonsLeft,
.buttonsRight{
	flex-direction : column;
}
.footer,
.menuButtons{
	flex-direction  : row;
	justify-content : space-between;
}
.userRight{
	flex-direction: row;
	margin-top: auto;
}

body{
	margin  : 0;
	padding : 0;
	background-color: #aaa;
}

p{
	margin        : 0;
	overflow-wrap : break-word;
}

.block{
	border-radius    : 10px ;
	position         : absolute;
	left             : 50%;

	height           : auto;
	width            : 600px;
	margin-top       : 10px;
	margin-left      : -300px;
	padding          : 30px;

	background-color : #D9D9D9;
	/*box-shadow: 0px 0px 10px 3px #D9D9D9;*/
}

.descriptioninput, button{
	height           : 40px;
	padding          : 10px;

	background-color : #fff;
	border           : 0;
	overflow-wrap : break-word;
}
.descriptioninput{
	margin-bottom    : 20px;
}

.addTask,
.deleteAllTasks{
	height: 40px;
	width : fit-content;
}

.descriptioninput{
	width : 100%;
}

.task{
	margin           : 0;
	margin-top       : 20px;
	padding          : 10px;

	background-color : #fff;
	box-shadow: -3px 0px 0px gray
}

.completeButton,
.deleteButton,
.editButton{
	padding       : 0;
	margin-bottom : 10px;
	height        : 20px;
	width         : 20px;
}
.completeButton{
	margin-right  : 10px;
}
.deleteButton,
.editButton{
	margin-left   : 10px;
}
.buttonsRight{
	margin-left: auto;
}

.footer{
	margin-top : 20px;
}

img{
	height        : 20px;
	width         : 20px;
}

.email,
.date,
.edit{
	font-size: 1em;
	color: #999999;
}
.nickname{
	font-size: 1.2em;
}

.addTask:focus,
.deleteAllTasks:focus,
.descriptioninput:focus,
.completeButton:focus,
.deleteButton:focus,
.editButton:focus{
	box-shadow: inset 1px 1px orange, inset -1px -1px orange;
}
.addTask:hover,
.deleteAllTasks:hover,
.descriptioninput:hover,
.completeButton:hover,
.deleteButton:hover,
.editButton:hover{
	box-shadow: inset 1px 1px Gold, inset -1px -1px Gold;
}